<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="writer" class="writer.Writer"/>
    <bean id="starDecorator" class="writer.StarDecorator"/>
    <bean id="dashDecorator" class="writer.DashDecorator"/>

    <bean id="niceWriter" class="writer.NiceWriter">
        <property name="decorator" ref="dashDecorator"/>
    </bean>

    <bean id="WriterDemo" class="WriterDemo.WriterDemo">
        <property name="writer" ref="niceWriter"/>
        <property name="myName" value="Liliana"/>
    </bean>
</beans>